@font-face {
    font-family: TTNormsProNormal;
    src: url("./font-ttfnormspro/TT\ Norms\ Pro\ Regular.otf") format("OpenType");
}

@font-face {
    font-family: TTNormsProBold;
    src: url("./font-ttfnormspro/TT\ Norms\ Pro\ Bold.otf") format("OpenType");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.game-instructions {
    font-family: TTNormsProNormal;
    font-size: 18px;
}

.featured-game-instructions {
    font-family: TTNormsProBold;
}

.hidden {
    display: none;
}

.medium-opacity {
    opacity: 0.5;
}