.row {
    width: 750px;
}

.info-box {
    width: 500px;
    margin-top: 30px;
}

.color-box, .info-box {
    height: 150px;
    opacity: 0.5;
    color: white;
}

.full-color {
    opacity: 1;
}

.simon-turn {
    background-color: turquoise;
}

.user-turn {
    background-color: green;
}

.lost {
    background-color: red;
}